.navbar{
    height: 10vh;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
}


.navbar-links ul{
    display: flex;
    list-style: none;
}

.navbar-links a{
    color: white; 
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    transition: all 0.4s ease;
}


.navbar-links a:hover{
    color: #f3b542;
}


